<!DOCTYPE html>
<html>
<head>
    <title>COVID-19 Vaccination Analysis</title>
    <h2>For CSE 163 A Spring 2023 by Mike Deng, Dexin Sun, and Yaqi Lu</h2>
</head>
<body>
    <h1>COVID-19 Vaccination Analysis</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/plot">How have the daily vaccination rates changed over time in the top 5 highest GDP countries?</a></li>
        <li><a href="/correlation">What is the relationship between daily vaccination rates and total vaccination of the GDP rankings of the highest and lowest GDP countries?</a></li>
        <li><a href="/average_vaccinations">What are the time trends of vaccination rates in countries with different religious beliefs, as well as the time trends of vaccination numbers in countries under different political regimes?</a></li>
    </ul>
</body>
</html>
